*
  {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: RedHatDisplay;
  }
  .base {
  width: 280px;
  height: 440px;
  border-radius: 16px;
  box-shadow: 0 20px 40px -15px rgba(33, 37, 41, 0.2);
  background-color: #ffffff;
  margin-top:  50px;
}
.top
{
  height: 150px;
  background-color: white;
   /*margin-top:  30px;*/      
}
.About{
  /*width: 48px;*/
  height: 21px;
  font-family: RedHatDisplay;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: right;
  color: #212529;
  /*line-height: 150px;*/

}
.col-lg-4
{

}
.lineone {
  width: 280px;
  height: 160px;
  border-top-left-radius:16px;
    border-top-right-radius:16px;
  background-color: #ffefba;
}
.linetwo {
  width: 280px;
/* width: 280px;*/
  height: 80px;
  background-color: #de8b83;
}
.linethree {
  width: 280px;
  height: 80px;
  background-color: #6d629e;
}
.oddlineone
{
    width: 280px;
  height: 80px;
 border-top-left-radius:16px;
    border-top-right-radius:16px;
  background-color: #abacab;
}
.oddlinetwo
{
  width: 280px;
  height: 80px;
  background-color: #ffd6b2;
}
.oddlinethree
{
width: 280px;
  height: 80px;
  background-color: #ffb16e;
}
.oddlinefour
{
width: 280px;
  height: 80px;
  background-color: #7c4737;
}
h6
/*{
  display: none;
}*/
h6:hover
{
 /* display: visible;*/
  color: blue;
}
.Color-Inspo-Co {
  width: 104px;
  height: 96px;
  object-fit: contain;
  margin-right: 20px;
}
.row
{
  /*margin-top: 50px;*/

}
.text {
    display: none;
}

.lineone:hover .text {
    display:block;
    align-items: center;
    justify-content: center;
    line-height: 180px;
    cursor: pointer;

}
.linetwo:hover .text {
    display:block;
    align-items: center;
    justify-content: center;
    line-height: 80px;
    cursor: pointer;
}
.linethree:hover .text {
    display:block;
    align-items: center;
    justify-content: center;
    line-height: 80px;
    cursor: pointer;
}
.oddlineone:hover .text {
    display:block;
    align-items: center;
    justify-content: center;
    line-height: 80px;
    cursor: pointer;
}
.oddlinetwo:hover .text {
    display:block;
    align-items: center;
    justify-content: center;
    line-height: 80px;
    cursor: pointer;
}
.oddlinethree:hover .text {
    display:block;
    align-items: center;
    justify-content: center;
    line-height: 80px;
    cursor: pointer;
}
.oddlinefour:hover .text {
    display:block;
    align-items: center;
    justify-content: center;
    line-height: 80px;
    cursor: pointer;
}
.base span 
{
  font-size: 1.6rem;
  font-weight: bold;
  text-align: left;
  display: flex;
  align-items: center;
  padding: 25px;

}
.base i
{
  margin-right: 25px;
}
.text
{
  font-size: 1.1rem;
  font-weight: bold;

}

